body {
    margin: 0px; 
    text-align: center;
    font-family: "Arial", sans-serif;
}

.banner {
    background: url("../assets/images/linkedin background.png") no-repeat center;
}

.portrait {
    margin: 10px 0px 5px 0px;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    border: 10px solid whitesmoke;
}

.name {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
}

p {
    margin: 20px 40px;
}

#navigation {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    background-color: rgb(41, 42, 37);
    text-transform: uppercase;
}
#navigation li {
    display: inline;
    padding: 2px;
}
#navigation li a {
    color: #fff;
    padding: 18px 36px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    letter-spacing: 5px;
}
#navigation li a:hover {
    background-color: rgb(211, 211, 219);
    color: black;
}
#navigation .active {
    background-color: rgb(216, 193, 158);
    color: white;
}

.history {
    list-style-type: none; 
    padding: 0; 
    margin: 20px 0 0 0;
}
.history li b {
    color: #D42525;
}

q {
    font-style: italic;
}

.cvlinks {
    margin-top:54px;
    padding:0 27px;
}
.cvlink {
    text-decoration: none !important;
    border:0px !important;
    outline:none;
    border-width: 0px;
    outline-width:0px;
    border-bottom: none;
}
.cvlink img {
    -webkit-box-shadow: 0px 0px 13.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13.5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13.5px 0px rgba(0,0,0,0.75);
    height:30vh;
    margin:0 27px;
}

.iconlink {
    text-decoration: none !important;
    border:0px !important;
    outline:none;
    border-width: 0px;
    outline-width:0px;
    border-bottom: none;
    margin:0 27px;
}
.iconlink i {
    font-size:61.7142857px;
    margin:47px 0;
}